@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #000;
}
header
{
position: absolute;
top: 0;
Left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px;
z-index: 100;
}
header .logo img
{
    max-width: 150px;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner .jaa
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content
{
    position: relative;
    z-index: 1;
    max-width: 600px;
}
.movieTitle
{
    max-width: 250px;
}
.banner .content h4
{
    color: rgba(255, 255, 2555, 0.5);
    font-weight: 500;
}
.banner .content h4 span
{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 2555, 0.5);
}
.banner .content h4 span:first-child
{
    padding-left: 0;
}
.banner .content h4 span:last-child
{
    border-right: none;
}
.banner .content h4 span i
{
    background: rgba(158, 158, 158, 0.2);
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}
.banner .content p
{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0 20px;
}
.banner .content .buttons
{
    position: relative;
}
.banner .content .buttons a
{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    background: #de0611;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.banner .content .buttons a:nth-child(1)
{
    background: rgba(0, 0, 0,0.5);
    border: 1px solid rgba(255, 255, 2555, 0.1);
}
.banner .content .buttons a:hover:nth-child(1)
{
    background: #de0611
}

@media (max-width: 991px)
{
    header
    {
        padding: 11px 18px;
    }
}

@media screen and (min-width: 100px) and (max-width: 470px) {
    .banner {
      background: rgb(0, 0, 0);
    }
    .banner .jaa {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 65px 0px;
    }
}

  @media screen and (min-width: 100px) and (max-width: 470px) {
    .banner {
      background: rgb(0, 0, 0);
      position: absolute;
      width: 100%;
      height: auto;
      object-fit: cover;
      padding: 25px;
    }
    .content
    {
        position: relative;
        z-index: 1;
        max-width: 600px;
        top: 180px;
    }
    .banner .content p 
    {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
        color: #fff;
        margin: 14px 0 14px;
    }
  }



